@{
  Layout = "_Layout";
}

<h3>Add a new Order to @Model.Name</h3>

<form action="/vendors/@Model.Id/orders"" method=" post">

  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">

  <label for="oTitle">What would you like to order?</label> <br><br>
  <input id="oTitle" name="oTitle" type="text"> <br><br>

  <label for="oOrigin">From What Vendor?</label><br><br>
  <input id="oOrigin" name="oOrigin" type="text"> <br><br>

  <label for="oQuantity">Quantity?</label><br><br>
  <input id="oQuantity" name="oQuantity" type="text"> <br><br>

  <label for="oDate">When would you like your order fulfilled by?</label><br><br>
  <input id="oDate" name="oDate" type="text"> <br><br>

  <button type="submit">Add Order</button>
</form>